div {
        border-radius:5px;
}

#header {
        position:block;
        width:95%;
        height:10%;
        background-color:black;
}

#left {
        position:relative;
        float:left;
        width: 15%;
        height: 70%;
        background-color:#0e275a;
}

#right {
        position:relative;
        float:right;
        width: 70%;
        height: 70%;
        background-color: #56678b;
}

#footer {
        position:relative;
        clear:both;
        width: 95%;
        height: 10%;
        background-color: #39445c;
}
